    </main>

    <footer class="site-footer">
      <p>Made with care for curious students who want a calmer way to learn.</p>
    </footer>

    <script src="https://cdn.botpress.cloud/webchat/v3.6/inject.js"></script>
    <script src="https://files.bpcontent.cloud/2026/07/03/10/20260703102850-V3KY19LL.js" defer></script>
    <script src="/js/gamification.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
